<div class="pager">
  <div class="tabs">
    <%= link_to("Fix soros",  {per_page: 50}, class: [continuous_paging?? 'active' : 'passive', 'continuous']) %>
    <%= link_to("Éves",       {per_page: 'year'},     class: [(params[:per_page] == 'year') ? 'active' : 'passive', 'year']) %>
    <%= link_to("Negyedéves", {per_page: 'quarter'},  class: [(params[:per_page] == 'quarter') ? 'active' : 'passive', 'quarter']) %>
    <%= link_to("Havi",       {per_page: 'month'},    class: [(params[:per_page] == 'month') ? 'active' : 'passive', 'month']) %>
    <%= link_to("Heti",       {per_page: 'week'},     class: [(params[:per_page] == 'week') ? 'active' : 'passive', 'week']) %>
  </div>

  <div class="pages">
    <% @pages.each do |key, prefs| %>
      <% start_date = Date.parse(prefs[:start_date].to_s) rescue prefs[:start_date] %>
      <% end_date = Date.parse(prefs[:end_date].to_s) rescue prefs[:end_date] %>
      <%= link_to("#{start_date} - #{end_date}", get_permalink(page: key, per_page: page_limit),
        class: (@current_page == prefs) ? 'active' : 'passive') %>
    <% end %>
  </div>
</div>
