<% inline_date = true -%>

<h2>Tranzakciók
  <%= time_dimension_as_text %>
  <% if @account %>
    a <%= print_account(@account) %> számlán
    <% if @category %>
      amelyeknek van <%= print_category(@category, false) %> kategóriás tételük
    <% end %>
  <% end %>
</h2>

<div class="view transactions">
<% Rails.logger.debug ">>> table.transactions" -%>
<% benchmark 'table.transactions', level: :debug do -%>
<% Rails.logger.silence(Rails.env.development?? Logger::DEBUG : Logger::INFO) do -%>
<table class="<%=current_namespace%> transactions">
  <tr>
    <th class="<%= (params[:sort]=='last_touch') ? 'sort_column' : '' %>">
      <%= link_to('Utolsó érintés', get_permalink(sort: 'last_touch')) %>
    </th>
    <th>Számla</th>
<% if inline_date %>
    <th class="<%= (not params[:sort] or params[:sort]=='transaction') ? 'sort_column' : '' %>">
      <%= link_to('Fizetés dátuma', get_permalink(sort: 'transaction')) %>
    </th>
<% end %>
    <% if @show_balance %><th>Egyenleg</th><% end %>
    <th></th>
    <th>Összeg</th>
    <th>Tétel</th>
    <th>Kategóriák</th>
    <th class="title_date">Kelt</th>
    <th>Megjegyzés</th>
  </tr>

<% balance = @current_page[:start_balance] -%>
<% transaction_prev = nil -%>
<% current_user_is_supervisor = @treasury.supervisors.include?(@current_user) %>
<% @transactions.each do |transaction| %>
  <% if not inline_date and (not transaction_prev or transaction.date != transaction_prev.date) -%>
    <tr class="day">
      <td colspan="5"><%= transaction.date.strftime("%Y-%m-%d, %a") -%></td>
    </tr>
  <% end -%>

  <%# Rails.logger.debug "<< 0" -%>
  <tr class="transaction multiline<%-%>
    <%#= transaction.accounts.map(&:type_name).uniq.join(" ") -%>
    <%= ' unacked' unless transaction.supervised? -%>
    <%= ' latest_updated' if @latest_updated_transaction == transaction -%>
    "
  data-id="<%= transaction.id -%>" data-parties="<%=parties_of(transaction).length%>">
    <td class="day last_touch" rowspan="<%=transaction_rowspan(transaction)%>">
      <% if current_user_is_supervisor or not transaction.supervised? -%>
        <%= link_to(transaction.updated_at.localtime.strftime("%Y-%m-%d %Hh"), [:edit, current_namespace, transaction], class: 'edit') %>
      <% else -%>
        <%= transaction.updated_at.localtime.strftime("%Y-%m-%d %Hh") %>
      <% end -%>
    </td>
    <td class="blank account"></td>
<% if inline_date -%>
    <td class="day date" rowspan="<%=transaction_rowspan(transaction)%>">
      <% if current_user_is_supervisor or not transaction.supervised? -%>
        <%= link_to(transaction.date.strftime("%Y-%m-%d"), [:edit, current_namespace, transaction], class: 'edit') %>
      <% else -%>
        <%= transaction.date.strftime("%Y-%m-%d") %>
      <% end -%>
    </td>
<% end -%>
    <% if @show_balance -%>
    <td class="balance" rowspan="<%=transaction_rowspan(transaction)%>">
      <%= print_amount(balance += parties_of(transaction).to_a.sum(&:amount)) -%>
    </td>
    <% end -%>
    <td class="ack" rowspan="<%=transaction_rowspan(transaction)%>">
      <% if current_user_is_supervisor and not transaction.supervised? -%>
        <%= button_tag(raw("&#x2713;"), href: do_ack_transaction_path(transaction), class: 'ack', 'data-id' => transaction.id) %>
      <% end -%>
    </td>
    <td class="blank amount"></td>
    <td class="blank title"></td>
    <td class="blank categories"></td>
    <td class="blank title_date"></td>
    <td class="comment" rowspan="<%=transaction_comment_rowspan(transaction)%>"><%= transaction.comment -%></td>
  </tr>
<% parties_of(transaction).each do |party| -%>
  <tr class="party" data-titles="<%=party.titles.length%>">
    <td class="account <%= account_to_classes(party.account) %>" rowspan="<%=1+party.titles.length%>">
      <%= link_account(party.account) %>
    </td>
    <td class="amount <%= print_sign(party.amount) %>"><%= print_amount party.amount -%></td>
    <td class="blank title"></td>
    <td class="blank categories"></td>
    <td class="blank title_date"></td>
    <% if transaction_comment_rowspan(transaction) == 1 %><td class="blank comment"></td><% end %>
  </tr>
  <%# Rails.logger.debug "<< b2" -%>
  <% party.titles.each do |m| -%>
    <%# Rails.logger.debug "<<< 0" -%>
    <tr class="title<%-%>
      <%= m.class.model_name.param_key -%>
    ">
      <%# Rails.logger.debug "<< 1" -%>
      <td class="amount <%= print_sign(m.amount) %>"><%= print_amount m.amount -%></td>
      <td class="title"><%= render partial: m, locals: { view: @account ? 'transactions_of_account' : 'transactions' } -%></td>
      <td class="categories">
<% m.categories.each do |category| -%>
        <span class="category">
          <%= link_to(print_category(category), url_with_time_dimension(transactions_category_link(category)), class: 'category') %>
        </span>
<% end -%>
      </td>
      <td class="day title_date"><%= m.date.strftime("%Y-%m-%d") if m.date %></td>
<% if transaction_comment_rowspan(transaction) == 1 %><td class="comment"><%= m.comment -%></td><% end %>
      <td class="touched_accounts">
        <%= m.operations.sort{|a,b| b.amount.abs <=> a.amount.abs}.map{|o| print_account(o.account)+': '+o.amount.to_s}.join('; ') -%>
      </td>
    </tr>
  <% end -%>

<% end -%>

  <% transaction_prev = transaction -%>
<% end -%>
</table>
<% end -%>
<% end -%>
<% Rails.logger.debug "<<< table.transactions" -%>

  <%= render partial: 'pager' %>

  <%#= render partial: 'transaction_popup' %>
</div>
