<%= form_for([:admin, @exchange_rate_log]) do |f| %>
  <% if @exchange_rate_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exchange_rate_log.errors.count, "error") %> prohibited this exchange_rate_log from being saved:</h2>

      <ul>
      <% @exchange_rate_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, "Dátum" -%>
    <%= f.date_select :date -%><br/>
  </div>
  <div class="field">
    <%= f.label :currency, "Pénznem" -%><br/>
    <%= f.text_field :currency, length: 3 -%>
  </div>
  <div class="field">
    <%= f.label :rate, "Árfolyam" -%><br/>
    <%= f.number_field :rate -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
