<h1>Listing exchange_rate_logs</h1>

<table>
  <thead>
    <tr>
			<th>Dátum</th>
      <th>Pénznem</th>
      <th>Árfolyam</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exchange_rate_logs.each do |exchange_rate_log| %>
      <tr>
				<td><%= exchange_rate_log.date -%></td>
				<td><%= exchange_rate_log.currency -%></td>
				<td><%= exchange_rate_log.rate -%></td>
        <td><%= link_to 'Edit', edit_admin_exchange_rate_log_path(exchange_rate_log) %></td>
        <td><%= link_to 'Destroy', [:admin, exchange_rate_log], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Új árfolyam', new_admin_exchange_rate_log_path %>
