<div class="field">
  <%= render partial: '/title/category_ids_selector', locals: { :f => f } %>
</div>
<% if f.object.party.titles.find_all{|m| not m.marked_for_destruction? }.length > 1 -%>
<div class="field">
	<%= f.label :amount, 'Bruttó összeg' %>
	<%= f.text_field :amount, {:size => 6, step: 0}.update(title_input_attributes(f.object)) %>
</div>
<% end -%>
<div class="field">
  <%= f.label :comment, 'Leírás', class: 'title comment' %>
	<%= f.text_field :comment, title_input_attributes(f.object).update(class: 'title comment') -%>
</div>
